@import url('https://cdn.jsdelivr.net/npm/reset-css@3.0.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Whole Body */
body {
    background-color: #ADE8F4;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0px 16px;
}

.navbar {
    padding: 16px;
    background-color: #007289;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__link a {
    text-decoration: none;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    :hover {
        cursor: pointer;
    }
}

.bar__item > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2em;
    font-family: 'Inter', sans-serif;
    padding: 8px;
}

.bar__item:nth-child(2) > a {
    font-size: 1.2em;
}
/* Header Ends Here */

/* Main Starts Here */
#input__text {
    margin: 32px 0px;
    width: 100%;
    max-width: 576px;
    height: 196px;
    box-sizing: border-box;
    resize: none;
    outline: none;
    box-sizing: border-box;
    border: solid 3px #03045E;
    border-radius: 21px;
    box-shadow: 4px 5px 20px 0px #03045E;
    padding: 1em;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 300;
    overflow: auto;
}

/* Adding a custom scrollbar style for the specific textarea */
#input__text::-webkit-scrollbar {
  width: 12px;
}

#input__text::-webkit-scrollbar-track {
  background: none;
}

#input__text::-webkit-scrollbar-thumb {
  background: none;
}

#input__text::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.output__website-header {
    display: none;
    border-radius: 21px;
    background-color: #48CAE4;
    width: 100%;
    max-width: 576px;
    height: 154px;
    font-family: 'Poppins', sans-serif;
    color: #03045E;
    margin: 0px 0px 32px 0px;
    box-shadow: 7px 8px 38px -2px #03045E;
}

.output__website-header > h2 {
    font-weight: 700;
    font-size: 0.9375em;
    padding: 1em 1em 0.6em 1em;
}

.line {
    border: 2px solid #ADE8F4;
}

.output__website-header > p {
    font-size: 0.8125em;
    padding: 1.6em 1em 1em 1em;
}

#submit-generate {
    background-color: #007289;
    border: 1px solid #03045E;
    color: #FFFFFF;
    border-radius: 21px;
    width: 100%;
    max-width: 576px;
    height: 50px;
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    box-shadow: 23px 24px 54px -4px #03045E;
}

/* Cloud Generator Starts*/
.main__word-cloud {
    /* margin: 32px 0px 0px 0px; */
    margin: 2em auto;
    /* width: 100%; */
    max-width: 576px;
    /* height: 100%; */
    background-color: #144552;
    border: 1px solid #000000;
    border-radius: 31px;
    /* display: none; */
    overflow-wrap: break-word;
    padding: 24px;
}
/* Cloud Generator Ends*/

/* Define different colors for words */
.word-color-1 { color: #FF0000; } 
.word-color-2 { color: #4CAF50; } 
.word-color-3 { color: #FF1DCE; } 
.word-color-4 { color: #FFC107; } 
.word-color-5 { color: #8F00FF; } 
.word-color-6 { color: #0000FF; } 
.word-color-7 { color: #9C27B0; } 
.word-color-8 { color: #00FF00; } 
.word-color-9 { color: #FDFF00; } 
.word-color-10 { color: #FF7800; }

/* Increasing the default font size of words */
.main__word-cloud span {
    font-size: 1.5em; 
}
/* Main Ends Here */


/* Footer Starts Here */
.footer {
    margin: 0px 0px 16px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer >p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #03045E;
}

.footer > p > a {
    text-decoration: none;
    color: #03045E;
}
/* Footer Ends Here */

/* Making the website responsive */
@media (min-width: 576px) {
    .container {
        --max-width: 576px;
        max-width: calc(var(--max-width) - 40px);
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .output__website-header {
        display: none;
    }

}

@media (min-width: 768px) {
    .container {
        --max-width: 768px;
    }

    .main {
        flex-direction: row;
        justify-content: space-around;
    }

    #input__text {
        min-width: 392px;
        height: 300px;
    }

    .output__website-header {
        display: block;
        margin: 32px 0px;
        width: 250px;
        height: 220px;
    }
}

@media (min-width: 992px) {
    .container {
        --max-width: 992px;
    }

    .main {
        flex-direction: row;
        justify-content: space-around;
    }

    #input__text {
        min-width: 600px;
        height: 400px;
    }

    .output__website-header {
        display: block;
        margin: 32px 0px;
        width: 250px;
    }
}