@import url('https://cdn.jsdelivr.net/npm/reset-css@3.0.0/reset.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* Whole Body */
body {
    background-color: #ADE8F4;
}

.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0px 16px;
}

.navbar {
    padding: 16px;
    background-color: #007289;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__link a {
    text-decoration: none;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #FFFFFF;
    :hover {
        cursor: pointer;
    }
}

.bar__item > a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.2em;
    font-family: 'Inter', sans-serif;
    padding: 8px;
}

.bar__item:nth-child(2) > a {
    font-size: 1em;
}
/* Header Ends Here */

/* Main Starts Here */
#input__text {
    margin: 32px 0px;
    width: 100%;
    max-width: 576px;
    height: 196px;
    box-sizing: border-box;
    resize: none;
    border: solid 3px #03045E;
    border-radius: 21px;
    box-shadow: 4px 5px 20px 0px #03045E;
    outline: none;
    box-sizing: border-box;
    padding: 1em;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 300;
}

.output__website-header {
    border-radius: 21px;
    background-color: #48CAE4;
    width: 100%;
    max-width: 576px;
    height: 154px;
    font-family: 'Poppins', sans-serif;
    color: #03045E;
    margin: 0px 0px 32px 0px;
    box-shadow: 7px 8px 38px -2px #03045E;
}

.output__website-header > h2 {
    font-weight: 700;
    font-size: 0.9375em;
    padding: 1em 1em 0.6em 1em;
}

.line {
    border: 2px solid #ADE8F4;
}

.output__website-header > p {
    font-size: 0.8125em;
    padding: 1.6em 1em 1em 1em;
}

#submit-generate {
    background-color: #007289;
    border: 1px solid #03045E;
    color: #FFFFFF;
    border-radius: 21px;
    width: 100%;
    max-width: 576px;
    height: 50px;
    font-size: 1.25em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    box-shadow: 23px 24px 54px -4px #03045E;
}

/* Cloud Generator */
/* Cloud Generator */
.main__word-cloud {
    margin: 32px 0px 0px 0px;
    width: 100%;
    max-width: 576px;
    height: 100%;
    background-color: #0077B6;
    border: 1px solid #000000;
    border-radius: 31px;
    display: none;
    overflow-wrap: break-word;
    padding: 16px;
}

/* Define different colors for words */
.word-color-1 { color: #FF5722; } /* Orange */
.word-color-2 { color: #4CAF50; } /* Green */
.word-color-3 { color: #F44336; } /* Red */
.word-color-4 { color: #FFC107; } /* Yellow */
.word-color-5 { color: #E91E63; } /* Pink */
.word-color-6 { color: #03A9F4; } /* Blue */
.word-color-7 { color: #9C27B0; } /* Purple */
.word-color-8 { color: #009688; } /* Teal */
.word-color-9 { color: #795548; } /* Brown */
.word-color-10 { color: #607D8B; } /* Gray */

/* Increasing the default font size of words */
.main__word-cloud span {
    font-size: 1.5em; 
}
/* Main Ends Here */


/* Footer Starts Here */
.footer {
    margin: 0px 0px 16px 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer >p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1em;
    color: #03045E;
}

.footer > p > a {
    text-decoration: none;
    color: #03045E;
}
/* Footer Ends Here */

/* Making the website responsive */
@media (min-width: 576px) {
    .container {
        --max-width: 576px;
        max-width: calc(var(--max-width) - 40px);
    }

    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #input__text {
        width: 408px;
        max-width: 785px;
        height: 417px;
    }

    .output__website-header {
        margin: 32px 0px;
        height: 200px;
        width: 215px;
    }
}

@media (min-width: 768px) {
    .container {
        --max-width: 768px;
    }

    #input__text {
        width: 490px;
    }

    #output__website-header {
        width: 250px;
    }
}